<h1>Sign up</h1>
<form action="<%= users_url %>" method="post">


  <label for="user_name">Name: </label>
  <input
    type="text"
    name="user[user_name]"
    id="user_name">

  <label for="password">Password: </label>
  <input
    type="password"
    name="user[password]"
    id="password">
  <br>

  <% submit_text = 'Sign Up' %>
  <input type="submit" value="<%= submit_text %>">
</form>